/* 공통 */
* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;

}

h1 {
  font-size: 1.5rem;
  margin: 1rem 1rem;
}

section {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h3{
    margin-bottom: 1rem;
}

/* 1. 그래프 */
.graphBox {
  display: flex;
  flex-direction: row;
  height: 400px;
}
.y_axis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: end;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
li {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}
.barContainer{
  display: flex;
  flex-direction: column;
  justify-content: end;
}

/* 2. 값 편집 */
table,
th,
td {
  border-collapse: collapse;
  border: 1px solid;
  text-align: center;
}
tr button {
  background: none;
  border: none;
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

/* 2. 값 편집 & 4. 값 고급 편집의 Apply 버튼 Container*/
.btnContainer {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

/* 3. 값 추가 */
.addForm{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* id input */
.addForm input:nth-child(1) {
  width: 20%;
}

/* value input */
.addForm input:nth-child(2) {
  width: 60%;
}


/* 4. 값 고급 편집*/
.dataBox {
  width: 500px;
  height: 400px;
  border: 1px solid black;
  line-height: 2;
}
