/* 초기화 */
* {
    margin: 0;
}



body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


section{
    max-width: 700px;
    /* align-items: start; */
}

/* 테이블 */
table, th, td {
    border-collapse: collapse;
    border: 1px solid;
    text-align: center;
}
tr button {
    background: none;
    border: none;
    color: red;
    text-decoration: underline;
    cursor: pointer;
}


/* Apply 버튼 */
.btnContainer {
    margin-top: 0.3rem;
    display: flex;
    justify-content: end;
}



/* 4. */
.dataBox{
    width: 500px;
    height: 500px;
    border: 1px solid black;
}